{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<h4 class="index-title">Your Following's Post</h4>

<div class="index-post-view">
    {% for post in posts %}
        <div class="index-content">
            <a href="{% url 'myprofile' post.user 1 %}"><h4>{{ post.user }}</h4></a>
            <p>{{ post.date }}</p>
            <p>{{ post.post }}</p>
            <p><button type="button" class="btn btn-warning like" onclick='like({{ post.id }})'><span class="like-btn-text {{post.id}}-btn"></span></button> <span class="like-text {{post.id}}-text">{{ post.like_count }}</span></p>
            <p class="hidden" style="display: none;">{{ post.id }}</p>
        </div>
    {% empty %}
        <p>You haven't followed anybody yet.</p>
    {% endfor %}
</div>

<div class="nav-container-pagination">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
        <li class="page-item"><a class="page-link" href="{% url 'change' page_visiting=selected button='previous' from_page='following' username='following' %}">Previous</a></li>
            {% for page in pages %}
                <li class="page-item {{page}}"><a class="page-link" href="{% url 'following' page %}">{{ page }}</a></li>
            {% endfor %}

        <li class="page-item next"><a class="page-link" href="{% url 'change' page_visiting=selected button='next' from_page='following' username='following' %}">Next</a></li>
        <span class="selected" style="display: none;">{{ selected }}</span>
        </ul>
    </nav>
</div>
<script src="{% static 'network/jquery.js' %}"></script>
<script src="{% static 'network/system2.js' %}"></script>
<script>
    $(document).ready(function(){
        var hidden = $('.hidden')
        console.log(hidden)
        $.each(hidden, function( index, value){

            fetch(`/like/${parseInt(value.innerHTML)}`)
            .then(response => response.json())
            .then(data => {
                if (data.check_like == true){
                    $('.' + value.innerHTML + '-btn').text('Dislike')
                } else {
                    $('.' + value.innerHTML + '-btn').text('Like')
                }
            })
        })

        var selected = $('.selected').text()
        console.log(selected)
        $('li.' + selected).addClass('active')
    })
</script>
{% endblock %}